.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    color: #ffffff;
    padding: 10px;
}

.active {
    color: #ffeb33;
}

.messages {
    padding: 10px;
    color: #ffffff;
}

.message {
    color: #ffffff;
}